!!!

%html
	= render 'layouts/manage/head'
			
	%body
		#wrapper
			%header
				%h1 
					artisan
					%span> engine
			
			#main
				= render 'layouts/manage/artisan_bar'
				= render 'shared/notifications'
				= yield
			
			%footer